{% extends 'base.html.twig' %}


{% block body %}
	<!-- Header -->
	<header class="site-navbar py-4" role="banner">
		<div class="container">
			<div class="d-flex align-items-center">
				<div class="site-logo" style="margin-top: 20px;"></div>

				<div class="ml-auto">
					<nav class="site-navigation position-relative text-right" role="navigation">
						<ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
							<li class="active">
								<a href="" class="nav-link">SPORTS</a>
							</li>
							<li>
								<a href="players.html" class="nav-link">CLUBS</a>
							</li>
							<li>
								<a href="players.html" class="nav-link">PRODUCTS</a>
							</li>
							<li>
								<a href="blog.html" class="nav-link">EVENTS</a>
							</li>
							<li>
								<a href="contact.html" class="nav-link">SPONSORS</a>
							</li>
							<li class="nav-item dropdown no-arrow">
								<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="mr-2 d-none d-lg-inline text-gray-800 small">{{ app.user.pseudo }}</span>
								</a>
								<!-- Dropdown - User Information -->
								<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
									<a class="dropdown-item" href="{{ path('app_utilisateurs_display', {'id': app.user.id}) }}">
										<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
										Profile
									</a>
									<a class="dropdown-item" href="#">
										<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
										Settings
									</a>
									<a class="dropdown-item" href="#">
										<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
										Activity Log
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{path('app_logout')}}" data-toggle="modal" data-target="#logoutModal">
										<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										Logout
									</a>
								</div>
							</li>

						</ul>

					</nav>
					<!-- End of Topbar -->

					<body>
						<div style="margin-left: 20px;"></div>
					</body>


				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->


			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Are You Sure You Want To Leave ?</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="{{path('app_logout')}}">Yes</a>
				</div>
			</div>
		</div>
	</div>
</ul></nav><a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white">
<span class="icon-menu h3 text-white"></span></a></div></div></div></header><divclass="site-wrap"><!-- Hero Section -->{% block hero %}<div class="hero overlay" style="background-image: url('{{ asset('/Frontoffice/images/background.jpg') }}'); background-size: cover; position: relative; min-height: 500px;"><div class="container"><div class="row">
<div class="col-lg-8 mx-auto" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
	<h1 style="text-align: center;">Welcome to Sportify Website</h1>
	<p style="text-align: center;">
		<a href="#" class="btn btn-primary">Commencer</a>
	</p>
</div></div></div></div>{% endblock %}<!-- Section des sports --><!-- Footer -->{% block footer %}<footer class="footer-section"><divclass="container"><!-- Mettez ici le code pour le footer --></div></footer>{% endblock %}</div>{% endblock %}
