{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">Terrain index</div>
                    <div class="card-body">
                        {% block body %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>IdTerrain</th>
                                        <th>Nomterrain</th>
                                        <th>Localisation</th>
                                        <th>Taille</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for terrain in terrains %}
                                        <tr>
                                            <td>{{ terrain.idTerrain }}</td>
                                            <td>{{ terrain.nomterrain }}</td>
                                            <td>{{ terrain.localisation }}</td>
                                            <td>{{ terrain.taille }}</td>
                                            <td>
                                                <a href="{{ path('app_terrain_show', {'idTerrain': terrain.idTerrain}) }}" class="btn btn-primary">Show</a>
                                                <a href="{{ path('app_terrain_edit', {'idTerrain': terrain.idTerrain}) }}" class="btn btn-warning">Edit</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5">No records found</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a href="{{ path('app_terrain_new') }}" class="btn btn-success">Create new</a>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
