
{% block section %}

<div class="row" id="sports-list"> {# Ajoutez l'ID "sports-list" ici #}
            {% for sport in sports %}
                <div class="col-md-4 mb-4">
                    <div id="result" class="card">
                        {% if sport.image %}
                            <img src="{{ asset('uploads/images/' ~ sport.image) }}" class="card-img-top" alt="Image du sport {{ sport.nom }}">
                        {% else %}
                            <div class="card-img-top" style="height: 200px; background-color: #ccc;"></div>
                        {% endif %}
                        <div class="card-body">
                        <br>
                            <p class="card-text">{{ sport.nom }}</p>
                            <p class="card-text">{{ sport.description }}</p>
                            <a href="{{ path('app_sport_showfront', {'id': sport.id}) }}" class="btn btn-primary">Terrains</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if sports is empty %}
            <div class="col">
                <p>Aucun enregistrement trouvé</p>
            </div>
        {% endif %}
        </div>

{% endblock %}