<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Sportify Website{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block stylesheet %}
    <link href="{{ asset('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('/Frontoffice/fonts/icomoon/style.css') }}">
    <link rel="stylesheet" href="{{ asset('/Frontoffice/css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/Frontoffice/css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('/Frontoffice/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/Frontoffice/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/Frontoffice/css/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/Frontoffice/css/bootstrap-datepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('/Frontoffice/fonts/flaticon/font/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset('/Frontoffice/css/aos.css') }}">
    <link rel="stylesheet" href="{{ asset('/Frontoffice/css/style.css') }}">
{% endblock %}

{% block javascript %}
<!-- Scripts -->
    <script src="{{ asset('/Frontoffice/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('/Frontoffice/js/jquery-migrate-3.0.1.min.js') }}"></script>
    <script src="{{ asset('/Frontoffice/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('/Frontoffice/js/popper.min.js') }}"></script>
    <script src="{{ asset('/Frontoffice/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/Frontoffice/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('/Frontoffice/js/jquery.stellar.min.js') }}"></script>
    <script src="{{ asset('/Frontoffice/js/jquery.countdown.min.js') }}"></script>
    <script src="{{ asset('/Frontoffice/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('/Frontoffice/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('/Frontoffice/js/aos.js') }}"></script>
    <script src="{{ asset('/Frontoffice/js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('/Frontoffice/js/jquery.sticky.js') }}"></script>
    <script src="{{ asset('/Frontoffice/js/jquery.mb.YTPlayer.min.js') }}"></script>
    <script src="{{ asset('/Frontoffice/js/main.js') }}"></script>
{% endblock %}
</head>

<body>
   {% block body %}
   
   {% endblock %}
</body>

</html>