{% extends 'base.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}
    <h1>Offre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdOffre</th>
                <td>{{ offre.idOffre }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ offre.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offre.description }}</td>
            </tr>
            <tr>
                <th>Reduction</th>
                <td>{{ offre.reduction }}</td>
            </tr>
            <tr>
                <th>Produit</th>
                <td>{{ offre.produit }}</td>
            </tr>
            <tr>
                <th>IdSponsor</th>
                <td>{{ offre.idSponsor }}</td>
            </tr>
        </tbody>
    </table>

<a href="{{ path('app_pdf_generator', {'idOffre': offre.idOffre}) }}">Download PDF</a>

    <a href="{{ path('app_offre_index') }}">back to list</a>


    <a href="{{ path('app_offre_edit', {'idOffre': offre.idOffre}) }}">edit</a>

    {{ include('offre/_delete_form.html.twig') }}
{% endblock %}
